:root {
  --ui-color: #951ad1;
  --glow-color: #c415f5;
  --rosette-url: 'data/church/rosette-church.png';
  --quiz-logo-url: 'data/church/logo-church.png';
  --leader-url: 'data/church/church-torso.png';
  --button-bg-url: 'data/church/button.png';
  --button-bg-hover-url: 'data/church/button-hover.png';
  --result-panel-url: 'data/church/result-panel.png';
  --headline-panel-url: 'data/church/headline-panel.png';
}

.questionHolder .imageHolder {
  background-image: url('data/church/frame-back.png');
  padding: 12px 16px; /* Substituted borders for padding */
    border:none 0px transparent;
}

#start #leader-torso {
  height:520px;
  top:680px;
  height:543px;
}

#scene {
  position: absolute;
  overflow: hidden;
  top:-192px;
  left:-151px;
  width:960px;
  height:900px;
}

#church-end-1 {
   position:absolute;
   background-image:url('data/church/church-end-1.png');
   top:130px;
   left:220px;
   width:552px;
   height:671px;
}

#church-end-2 {
   position:absolute;
   background-image:url('data/church/church-end-2.png');
   top:130px;
   left:160px;
   width:675px;
   height:646px;
}

#church-end-3 {
   position:absolute;
   background-image:url('data/church/church-end-3.png');
   top:160px;
   left:240px;
   width:515px;
   height:586px;
}

#church-end-4 {
   position:absolute;
   background-image:url('data/church/church-end-4.png');
   top:140px;
   left:220px;
   width:600px;
   height:620px;
}

.result0 #church-end-2,
.result0 #church-end-3,
.result0 #church-end-4 {
  display:none;
}
.result10 #church-end-2,
.result10 #church-end-3,
.result10 #church-end-4 {
  display:none;
}
.result20 #church-end-2,
.result20 #church-end-3,
.result20 #church-end-4 {
  display:none;
}
.result30 #church-end-2,
.result30 #church-end-3,
.result30 #church-end-4 {
  display:none;
}

.result40 #church-end-1,
.result40 #church-end-2,
.result40 #church-end-4 {
  display:none;
}
.result50 #church-end-1,
.result50 #church-end-2,
.result50 #church-end-4 {
  display:none;
}
.result60 #church-end-1,
.result60 #church-end-2,
.result60 #church-end-4 {
  display:none;
}
.result70 #church-end-1,
.result70 #church-end-2,
.result70 #church-end-4 {
  display:none;
}

.result80 #church-end-1,
.result80 #church-end-2,
.result80 #church-end-3 {
  display:none;
}
.result90 #church-end-1,
.result90 #church-end-2,
.result90 #church-end-3 {
  display:none;
}
.result100 #church-end-1,
.result100 #church-end-2,
.result100 #church-end-3 {
  display:none;
}